
.feather-20 {
  width: 20px;
  height: 20px;
}
.feather-18 {
  width: 18px;
  height: 18px;
}
.feather-stroke-red {
	stroke: #bf0707;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
 

.substring {
    display: block;
    //* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 14*1.6*3;
    //* Fallback for non-webkit */
    font-size: 14;
    line-height: 1.6;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.substring-card {
    display: block;
    //* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 16*1.6*5;
    //* Fallback for non-webkit */
    font-size: 16;
    line-height: 1.6;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.onyx-color {
	color: #363740;
}
.red-color {
	color: #bf0707;
}
.green-color {
	color: #0a820e;
}
.metallic-silver-color {
	color: #A4A6B3;
}

.f-12 {
	font-size: 12px;
}
.f-14 {
	font-size: 14px;
}
.f-16 {
	font-size: 16px;
}
.f-18 {
	font-size: 18px;
}
.f-20 {
	font-size: 20px;
}
.f-24 {
	font-size: 24px;
}
.f-28 {
	font-size: 28px;
}
.f-32 {
	font-size: 32px;
}
.f-40 {
	font-size: 40px;
}
.fh-16 {
	line-height: 16px;
}
.fw-600 {
	font-weight: 600;
}
.fw-400 {
	font-weight: 400;
}

.lh-20 {
	line-height: 20px;
}
.ls-02 {
	letter-spacing: 0.2px;
}

.title-detail {
	line-height: 30px;
	letter-spacing: 0.3px;
	font-weight: 700;
}

.pt-title {
	line-height: 25px;
}


// Background
.onyx-bg {
	background: #363740;
}


.gray-border {
	border-color: #DFE0EB;
}


// Button
.button-red {
	background: #bf0707;
  	padding: 9px 15px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.5px;

	&:hover {
		background: #860606;
		color: #fff;
	}
}

.button-outline-red {
	background: #fff;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.5px;

	&:hover {
		background: #860606;
		color: #fff;
	}
}

.tanggapi-btn {
	padding: 10px 20px;
	font-weight: 700;
	font-size: 14px;
}


// icon
.searchbar-icon {
	width: 21px;
	height: 21px;
	align-items: center;

	&:hover {
		color: #fff !important;
	}
}


@media screen and (min-width: 576px) {
	.tanggapi-btn {
		padding: 12px 50px;
		font-weight: 700;
		font-size: 16px;
	}
}