@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  scroll-behavior: smooth;
}

.body-site {
  font-family: "Lexend", sans-serif;
}

.main-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
}

.special {
  -webkit-animation: special 2s infinite;
          animation: special 2s infinite;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@-webkit-keyframes special {
  50% {
    color: #e6bc27;
  }
  100% {
    color: #f5f5f5;
  }
}

@keyframes special {
  50% {
    color: #e6bc27;
  }
  100% {
    color: #f5f5f5;
  }
}

.content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.line {
  content: "";
  height: 8px;
  display: block;
  padding: 4px;
  background-color: #fff;
  width: 100px;
  border-radius: 20px;
  margin: 5px auto;
}

.button {
  position: relative;
  background: #383838;
  display: inline-block;
  color: #fff;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e6bc27;
}

.button-login {
  font-size: 14px;
  border-radius: 6px;
}

.popup-close-btn {
  background: #bf0707;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 12px;
}

.fluid {
  max-width: 100%;
}

.skpp {
  background: none;
  outline: none;
  border: none;
  color: #3f59c5;
}

.skpp:hover {
  color: #28397c;
  text-decoration: underline;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  background: #bf0707;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.nav .navLink li {
  display: inline-block;
  padding: 0px 0px;
  text-decoration: none;
}

.nav .navLink li a {
  text-decoration: none;
}

.nav .navLink li a:hover {
  color: #2c2929;
}

.logo img {
  width: 100px;
}

.popup-modal,
.ReactModalPortal {
  position: -webkit-sticky;
  position: sticky;
  width: 70%;
  margin: auto;
  border: none;
  outline: none;
  z-index: 100;
}

.ReactModal__Overlay {
  opacity: 0;
  -webkit-transition: opacity 2000ms ease-in-out;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.billboards h2,
.billboards p,
.billboards a {
  color: #f5f5f5;
  text-align: center;
  font-weight: 500;
}

.billboards img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.billboards-mobile {
  display: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.global-footer {
  position: relative;
  width: 100%;
  padding: 25px 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a2a2a3;
  font-size: 80%;
  font-weight: 400;
  -webkit-box-shadow: 0px 1px 7px #999;
          box-shadow: 0px 1px 7px #999;
  z-index: 10;
}

.global-footer p {
  margin: 0;
}

.global-footer .author {
  display: none;
}

.jumbotron {
  position: relative;
  margin-top: -77px;
  min-height: 90vh;
  background: url(../img/samsat-gedung.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.jumbotron-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  width: 100%;
  background: rgba(220, 221, 225, 0.5);
}

.jumbotron-title h1 {
  font-size: 3rem;
  color: #333;
  font-weight: 600;
}

.jumbotron-title h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.jumbotron-logo-top {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron-logo-top .logo-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jumbotron-logo-top .logo-right .logo-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jumbotron-logo-top .logo-right,
.jumbotron-logo-top .logo-left {
  margin: 0 30px;
}

.jumbotron-logo-top .logo-right img,
.jumbotron-logo-top .logo-left img {
  margin: 0 10px;
}

.jumbotron-logo-top .logo-size {
  width: 95px;
}

.maskot {
  position: absolute;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -275px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maskot .gubernur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maskot .gubernur img {
  width: 400px;
}

.maskot .penda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maskot .penda img {
  width: 430px;
}

.maskot .aldo {
  width: 330px;
  margin-right: -50px;
}

.maskot .hani {
  width: 272px;
}

.maskot img {
  display: block;
  margin: auto 40px;
  z-index: 9;
}

.greetings {
  display: none;
}

.apps-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.apps-links a {
  text-decoration: none;
}

.apps-links .apps-box {
  max-width: 350px;
  cursor: pointer;
  padding: 20px 30px;
  margin: -70px 20px 15px 20px;
  background: #fff;
  z-index: 9;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 1px 7px #999;
          box-shadow: 0px 1px 7px #999;
}

.apps-links .apps-box h3 {
  font-size: 1.17em;
  color: #bf0707;
}

.apps-links .apps-box:hover {
  background: #bf0707;
  color: #fff;
}

.apps-links .apps-box:hover h3 {
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.apps-links .apps-box .sambara-web {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

.apps-links .apps-box .sambara-mobile {
  width: 90px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
}

.slog {
  padding: 20px;
  margin: 20px;
}

.slog h1 {
  text-align: center;
  font-size: 4rem;
  font-style: italic;
}

.slog h1 span {
  color: #bf0707 !important;
}

.gray-bg {
  background: #f5f5f5;
}

.blue-bg {
  background: #bf0707;
}

.blue-bg h2,
.blue-bg p,
.blue-bg h3,
.blue-bg a,
.blue-bg li {
  color: white;
}

.w30 {
  width: 40%;
}

.w70 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.logo-160 {
  width: 159px;
  display: block;
  margin: auto;
}

.carousel {
  width: 90%;
  margin: 30px auto;
}

.carousel .sr-only {
  color: white;
}

.carousel .carousel-control-next {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  padding: 50px;
}

.content-row .vertical-auto {
  margin: auto 0;
}

.content-row .box-icon {
  padding: 10px 0;
}

.content-row .box-icon .icon-mobil {
  width: 380px;
}

.content-row .box-icon img {
  display: block;
  margin: auto;
  width: 250px;
}

.content-row .box-icon .samling h2,
.content-row .box-icon .samdong h2 {
  text-align: center;
  font-style: italic;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content-row .box-icon .samling .white-outline,
.content-row .box-icon .samdong .white-outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-size: 4rem;
  color: white;
}

.content-row .box-icon .samling h2 {
  color: #2e973c;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2e973c;
}

.content-row .box-icon .samdong h2 {
  margin-left: 70px;
  color: #223788;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #223788;
}

.content-row .even {
  text-align: right;
}

.content-row .even h2 {
  color: #3d485e;
}

.content-row .deskripsi {
  padding: 20px 15px;
}

.content-row .deskripsi .small {
  font-size: 3rem;
  letter-spacing: 2px;
}

.content-row .deskripsi h2 {
  letter-spacing: 4px;
  font-size: 3rem;
}

.content-row .deskripsi p {
  letter-spacing: 2px;
  font-weight: 300;
  padding: 20px 0;
  font-size: 2rem;
}

.header {
  margin: 20px 10px;
}

.header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #bf0707;
}

.sub-header {
  margin: 20px 10px;
}

.sub-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #bf0707;
  text-align: center;
}

.pajak-tahunan {
  padding: 20px 10px;
  margin: 10px 0;
}

.pajak-tahunan h3 {
  text-align: center;
}

.layanan-row {
  margin: 0 auto;
  padding: 5px 10px;
}

.layanan-row .box-layanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layanan-row .nomor {
  background: #333;
  width: 10%;
}

.layanan-row .nomor p {
  color: #a2a2a3;
  padding: 35px 20px;
  margin: auto 0;
  text-align: center;
  font-size: 3rem;
}

.layanan-row .layanan-langkah {
  background: #bf0707;
  width: 60%;
}

.layanan-row .layanan-langkah p {
  padding: 50px 20px;
  margin: auto 0;
  color: white;
  font-size: 1.5rem;
}

.layanan-row .keterangan-langkah {
  width: 25%;
  background: #f5f5f5;
  padding: 20px;
}

.layanan-row .keterangan-langkah ul {
  margin: auto 5px;
}

.layanan-row .keterangan-langkah ul li {
  list-style: decimal;
  margin: auto 0;
  font-size: 0.9rem;
}

.struktur-header {
  margin: 20px 10px;
}

.struktur-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #bf0707;
}

.struktur-content-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.struktur-content-row h4,
.struktur-content-row p {
  text-align: center;
}

.struktur-content-row h4 {
  margin: 8px 0;
  font-size: 13px;
  font-weight: 600;
}

.struktur-content-row p {
  margin: 4px 0;
  font-size: 13px;
}

.struktur-content-row img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 300px;
}

.struktur-content-row2 {
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.struktur-content-row2 h4,
.struktur-content-row2 p {
  text-align: center;
}

.struktur-content-row2 h4 {
  margin: 8px 0;
  font-size: 13px;
  font-weight: 600;
}

.struktur-content-row2 p {
  margin: 4px 0;
  font-size: 13px;
}

.struktur-content-row2 img {
  display: block;
  margin: 0 auto;
}

.struktur-content-row2 .bagan-card {
  margin: 0 auto;
}

.visi-misi {
  margin: 30px auto;
  padding: 10px 30px;
  width: 80%;
}

.visi-misi .visi-misi-header {
  color: #333;
}

.visi-misi .visi-misi-header h2 {
  font-weight: 800;
}

.visi-misi h2,
.visi-misi h3 {
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
}

.visi-misi p {
  font-weight: 400;
}

.visi-misi li,
.visi-misi a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.visi-misi li {
  padding: 10px 0;
  margin: 10px;
}

.visi-misi .visi {
  background: #ac0606;
  padding: 20px;
  border-radius: 15px;
  margin: 15px 0;
  font-size: 1.2rem;
  -webkit-box-shadow: 0px 1px 7px #999;
          box-shadow: 0px 1px 7px #999;
}

.visi-misi .visi h3 {
  color: #fff;
}

.visi-misi .visi p {
  text-align: center;
  padding: 5px;
  margin: 5px 0;
  color: #fff;
}

.visi-misi .visi p span {
  font-weight: 700;
  color: #fff;
}

.visi-misi .misi {
  margin: 15px 0;
  background: #e42222;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.1rem;
  -webkit-box-shadow: 0px 1px 7px #999;
          box-shadow: 0px 1px 7px #999;
}

.visi-misi .misi h3,
.visi-misi .misi p {
  color: #fff;
}

.visi-misi .misi span {
  font-weight: 700;
  color: #fff;
}

.box {
  margin: 8px;
  padding: 8px;
}

.box .row h3 {
  font-weight: 500;
}

.box .row .list ul li {
  list-style: none;
  border-left: 3px solid #bf0707;
  padding: 8px 10px;
}

.box .row p {
  font-size: 1.1rem;
}

.box .row a {
  margin: 30px 10px;
}

.box .row ul {
  margin: 5px;
}

.box .row ul li {
  list-style: decimal;
  margin: 5px 20px;
  font-size: 1.1rem;
}

.jadwal-box,
.e-samsat {
  padding: 15px;
  margin: 15px 5px;
}

.jadwal-box .jadwal-header h2,
.jadwal-box .jadwal-header h3,
.jadwal-box .jadwal-header p,
.jadwal-box .e-samsat-header h2,
.jadwal-box .e-samsat-header h3,
.jadwal-box .e-samsat-header p,
.e-samsat .jadwal-header h2,
.e-samsat .jadwal-header h3,
.e-samsat .jadwal-header p,
.e-samsat .e-samsat-header h2,
.e-samsat .e-samsat-header h3,
.e-samsat .e-samsat-header p {
  margin: 10px 0;
}

.jadwal-box .jadwal-header h2,
.jadwal-box .e-samsat-header h2,
.e-samsat .jadwal-header h2,
.e-samsat .e-samsat-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #bf0707;
}

.jadwal-box .jadwal-header h3,
.jadwal-box .e-samsat-header h3,
.e-samsat .jadwal-header h3,
.e-samsat .e-samsat-header h3 {
  font-weight: 600;
}

.jadwal-box .jadwal-header p,
.jadwal-box .e-samsat-header p,
.e-samsat .jadwal-header p,
.e-samsat .e-samsat-header p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 25px 0;
}

.jadwal-box .jadwal-header li,
.jadwal-box .e-samsat-header li,
.e-samsat .jadwal-header li,
.e-samsat .e-samsat-header li {
  list-style-type: decimal;
  margin: 10px 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.jadwal-box .jadwal-header span,
.jadwal-box .e-samsat-header span,
.e-samsat .jadwal-header span,
.e-samsat .e-samsat-header span {
  font-weight: 600;
}

.jadwal-box .jadwal-header .syarat-ketentuan-header,
.jadwal-box .e-samsat-header .syarat-ketentuan-header,
.e-samsat .jadwal-header .syarat-ketentuan-header,
.e-samsat .e-samsat-header .syarat-ketentuan-header {
  margin: 15px 0;
  padding: 10px 20px;
  background: #bf0707;
}

.jadwal-box .jadwal-header .syarat-ketentuan-header h2,
.jadwal-box .e-samsat-header .syarat-ketentuan-header h2,
.e-samsat .jadwal-header .syarat-ketentuan-header h2,
.e-samsat .e-samsat-header .syarat-ketentuan-header h2 {
  color: white;
}

.jadwal-box .jadwal-header .syarat-dan-ketentuan,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan,
.e-samsat .jadwal-header .syarat-dan-ketentuan,
.e-samsat .e-samsat-header .syarat-dan-ketentuan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -20px 0 10px 0;
  padding: 20px 20px;
  background: #bf0707;
}

.jadwal-box .jadwal-header .syarat-dan-ketentuan h3,
.jadwal-box .jadwal-header .syarat-dan-ketentuan p,
.jadwal-box .jadwal-header .syarat-dan-ketentuan li,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan h3,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan p,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan li,
.e-samsat .jadwal-header .syarat-dan-ketentuan h3,
.e-samsat .jadwal-header .syarat-dan-ketentuan p,
.e-samsat .jadwal-header .syarat-dan-ketentuan li,
.e-samsat .e-samsat-header .syarat-dan-ketentuan h3,
.e-samsat .e-samsat-header .syarat-dan-ketentuan p,
.e-samsat .e-samsat-header .syarat-dan-ketentuan li {
  color: white;
}

.jadwal-box .jadwal-header .syarat-dan-ketentuan p,
.jadwal-box .jadwal-header .syarat-dan-ketentuan li,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan p,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan li,
.e-samsat .jadwal-header .syarat-dan-ketentuan p,
.e-samsat .jadwal-header .syarat-dan-ketentuan li,
.e-samsat .e-samsat-header .syarat-dan-ketentuan p,
.e-samsat .e-samsat-header .syarat-dan-ketentuan li {
  font-weight: 300;
}

.jadwal-box .jadwal-header .syarat-dan-ketentuan .syarat,
.jadwal-box .e-samsat-header .syarat-dan-ketentuan .syarat,
.e-samsat .jadwal-header .syarat-dan-ketentuan .syarat,
.e-samsat .e-samsat-header .syarat-dan-ketentuan .syarat {
  margin-left: 30px;
}

.jadwal-box .jadwal-title,
.e-samsat .jadwal-title {
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
}

.jadwal-box .jadwal-title h2,
.e-samsat .jadwal-title h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
}

.jadwal-box .jadwal-content,
.e-samsat .jadwal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 10px;
}

.jadwal-box .jadwal-content .jadwal-hari,
.e-samsat .jadwal-content .jadwal-hari {
  background: #bf0707;
  width: 40%;
  padding: 30px 20px;
}

.jadwal-box .jadwal-content .jadwal-hari h3,
.e-samsat .jadwal-content .jadwal-hari h3 {
  color: white;
}

.jadwal-box .jadwal-content .jadwal-wt,
.e-samsat .jadwal-content .jadwal-wt {
  width: 60%;
  padding: 30px 20px;
  background: #f5f5f5;
}

.e-samsat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
}

.e-samsat-content .keuntungan-tsamsat ul li {
  list-style: decimal;
  padding: 5px;
  margin: 5px;
  font-size: 1.1rem;
}

.e-samsat-content .button-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.e-samsat-content .button-to a {
  text-decoration: underline;
}

.e-samsat-content .button-to .feature-btn {
  width: 216px;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
}

.e-samsat-content .highlight {
  border-left: 5px solid #bf0707;
  background: #f5f5f5;
  padding: 3px 0;
}

.e-samsat-content .highlight p {
  margin-left: 15px;
}

.e-samsat-content h3 {
  color: #bf0707;
  padding: 10px 0;
}

.e-samsat-content p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 25px 10px 0;
}

.e-samsat-content p span {
  font-weight: 600;
}

.syarat-ketentuan-header {
  margin: 25px 0 10px 0;
  padding: 10px 20px;
  background: #bf0707;
}

.syarat-ketentuan-header h2 {
  margin: 10px 0;
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.syarat-dan-ketentuan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -20px 0 10px 0;
  padding: 20px 20px;
  background: #bf0707;
}

.syarat-dan-ketentuan h3,
.syarat-dan-ketentuan p,
.syarat-dan-ketentuan li {
  color: white;
}

.syarat-dan-ketentuan p,
.syarat-dan-ketentuan li {
  font-weight: 300;
}

.syarat-dan-ketentuan li {
  list-style-type: decimal;
  margin: 10px 20px;
  font-size: 1.2rem;
  font-weight: 300;
}

.syarat-dan-ketentuan .syarat {
  margin-left: 30px;
}

.wilayah-kerja-title {
  margin: 20px 15px 10px 15px;
  padding: 10px 10px;
}

.wilayah-kerja-title p,
.wilayah-kerja-title h1 {
  margin-top: 10px;
}

.wilayah-kerja-title p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 25px 0 5px 0;
}

.wilayah-kerja-title p span {
  font-style: italic;
}

.kecamatan .kecamatan-box {
  padding: 10px 30px;
}

.kecamatan .kecamatan-box .kecamatan-title {
  background: #bf0707;
  padding: 20px 10px;
  cursor: pointer;
}

.kecamatan .kecamatan-box .kecamatan-title h2 {
  padding: 5px 10px;
  border-left: 5px solid white;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.kecamatan .kecamatan-box .kecamatan-title h2:hover {
  color: #bebebe;
  border-left-color: gray;
}

.kecamatan .kecamatan-box .desa-list {
  display: block;
  padding: 20px 10px;
  margin: 0 15px;
}

.kecamatan .kecamatan-box .desa-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kecamatan .kecamatan-box .desa-list ul li {
  border-left: 3px solid #bf0707;
  margin: 15px 10px;
  padding: 15px 25px;
  list-style: none;
  width: 20%;
  font-size: 1.1rem;
}

.site-aduan {
  position: relative;
  z-index: 1;
  margin-top: -73px;
  background: #1A1919C2;
  padding: 30px;
  min-height: inherit;
}

.site-aduan .aduan {
  max-width: 700px;
  width: 90%;
  margin: 70px auto 30px;
  border-radius: 24px;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 20px 35px;
}

.site-aduan .aduan .aduan-header .title {
  color: #ac0606;
}

.pengaduan, .detail-pt {
  padding: 15px;
  margin: 15px 5px;
}

.pengaduan .pengaduan-header, .detail-pt .pengaduan-header {
  padding: 10px;
  margin: 10px 0;
}

.pengaduan .pengaduan-header h2, .detail-pt .pengaduan-header h2 {
  color: #bf0707;
  font-weight: 600;
  font-size: 2rem;
}

.pengaduan .pengaduan-content, .detail-pt .pengaduan-content {
  padding-top: 10px;
  margin-top: 5px;
}

.pengaduan .pengaduan-content .pengaduan-desc, .detail-pt .pengaduan-content .pengaduan-desc {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 10px;
}

.pengaduan .pengaduan-content .pengaduan-kontak, .detail-pt .pengaduan-content .pengaduan-kontak {
  padding: 10px;
  margin: 5px;
}

.pengaduan .pengaduan-content .pengaduan-kontak .row-kontak, .detail-pt .pengaduan-content .pengaduan-kontak .row-kontak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.pengaduan .pengaduan-content .pengaduan-kontak .row-kontak span, .detail-pt .pengaduan-content .pengaduan-kontak .row-kontak span {
  padding: 0 10px;
  margin: 0 10px;
}

.pengaduan .pengaduan-content .pengaduan-kontak .row-kontak .phone, .detail-pt .pengaduan-content .pengaduan-kontak .row-kontak .phone {
  font-size: 42px;
}

.pengaduan .pengaduan-content .pengaduan-kontak .row-kontak p, .detail-pt .pengaduan-content .pengaduan-kontak .row-kontak p {
  margin: auto 0;
}

.pengaduan .card-pgd, .detail-pt .card-pgd {
  border: 2px solid #B3B7C63D;
  border-radius: 10px;
  cursor: pointer;
}

.pengaduan .card-pgd:hover, .detail-pt .card-pgd:hover {
  -webkit-box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.1);
}

.pengaduan .card-pgd:hover p, .detail-pt .card-pgd:hover p {
  color: #ac0606;
}

.pengaduan .tanggapan, .detail-pt .tanggapan {
  width: 85%;
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.form-signin {
  font-family: "Mulish", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: #363740;
}

.form-signin .content-login {
  padding: 10px 35px 35px 35px;
  background: #fff;
  border-radius: 10px;
}

.form-signin .content-login-body {
  margin-top: 40px;
}

.home-footer .home-footer-head {
  margin: 15px auto;
  padding: 10px;
}

.home-footer .home-footer-head img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.home-footer .home-footer-head h3 {
  text-align: center;
  color: #3d485e;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.home-footer .home-footer-info {
  width: 100%;
  padding: 10px;
  background: #333;
}

.home-footer .home-footer-info .row-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-footer .home-footer-info .row-info hr {
  height: 25px;
  margin: auto 0;
  border: 0.05rem solid #e0e0e0;
}

.home-footer .home-footer-info .row-info p {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin: 5px 0;
}

.home-footer .home-footer-info .row-info a {
  margin: 5px 5px;
  -webkit-filter: invert(1);
          filter: invert(1);
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.home-footer .home-footer-info .row-info a:hover {
  color: black;
}

.home-footer .home-footer-info .row-info a svg {
  width: 25px;
  height: 20px;
}

.home-footer .home-footer-info .row-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-footer .home-footer-info .row-info ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 25px;
  padding: 10px 0;
}

.home-footer .home-footer-info .alamat {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-footer .home-footer-info .alamat p {
  font-size: 15px;
  text-align: center;
}

.text-gray {
  color: #A4A6B3;
}

.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  overflow: hidden;
  width: 800px;
  height: 500px;
}

.image-container .image {
  width: 100%;
  max-height: 100%;
  margin: 0px;
}

.prev:hover,
.next:hover {
  background-color: black;
}

.dot-container {
  text-align: center;
}

.dot {
  position: inherit;
  top: -40px;
  height: 8px;
  width: 36px;
  background-color: #bbb;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.active,
.dot:hover {
  background-color: #555;
}

.fade {
  -webkit-animation: fade 0.3s ease-in-out;
          animation: fade 0.3s ease-in-out;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.triple-untung {
  margin: 10px 0;
}

.triple-untung p {
  margin: 10px 0;
}

.triple-untung img {
  width: 100%;
  margin: 5px 0;
}

@media screen and (max-width: 1225px) {
  .maskot .aldo {
    width: 280px;
  }
  .maskot .hani {
    width: 222px;
  }
  .maskot img {
    margin: auto 0;
  }
  .triple-untung {
    margin: 10px;
  }
}

@media screen and (max-width: 992px) {
  .nav {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 960px) {
  .maskot .gubernur img {
    width: 350px;
    margin-top: -50px;
  }
  .maskot .penda img {
    width: 330px;
  }
  .jumbotron-logo-top .logo-left img {
    width: 150px;
  }
  .jumbotron-logo-top img {
    width: 60px;
  }
  .jumbotron-logo-top .logo-size {
    width: 60px;
  }
  .jumbotron-title {
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .jumbotron-title h1 {
    font-size: 2rem;
  }
  .apps-box {
    padding: 20px !important;
  }
  .apps-box h3 {
    font-size: 0.9rem;
  }
  .apps-box .sambara-web {
    max-width: 150px;
  }
  .apps-box .sambara-mobile {
    max-width: 45px;
  }
  .box-icon h2 {
    font-size: 2.4rem !important;
  }
  .deskripsi h2 {
    font-size: 2rem !important;
  }
  .deskripsi p {
    font-size: 1.3rem !important;
  }
  .deskripsi a {
    font-size: 1rem !important;
  }
  .samdong h2 {
    margin-left: 0 !important;
  }
  .jadwal-box {
    padding: 15px 20px;
    margin: 15px 25px;
  }
  .desa-list li {
    width: 30% !important;
  }
  .layanan-row .keterangan-langkah {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    -webkit-box-shadow: 0px 1px 7px #999;
            box-shadow: 0px 1px 7px #999;
  }
  .nav .logo {
    margin: 0 auto;
  }
  footer {
    z-index: 9;
  }
  .maskot {
    margin-top: -280px;
  }
  .maskot .gubernur img {
    width: 300px;
    margin-top: -10px;
  }
  .maskot .penda img {
    width: 280px;
  }
  .popup-modal,
  .ReactModalPortal {
    width: 85%;
  }
  .jumbotron-logo-top {
    display: block;
    margin: 0 auto;
  }
  .jumbotron-logo-top .logo-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .jumbotron-logo-top .logo-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .jumbotron-logo-top .logo-right img {
    display: inline-block;
  }
  .column-rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .even {
    text-align: left !important;
  }
  .jumbotron {
    margin-top: 0;
  }
  .slog h1 {
    font-size: 3rem;
  }
  .w50 {
    width: 100%;
  }
  .box {
    margin: 8px;
    padding: 8px;
  }
  .content-row {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .content-row .box-icon img {
    width: 200px;
  }
  .jadwal-header {
    padding: 0 10px;
  }
  .jadwal-box {
    padding: 8px;
    margin: 8px;
  }
  .syarat-ketentuan-header h2 {
    font-size: 1.5rem !important;
  }
  .syarat-dan-ketentuan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .syarat-dan-ketentuan h3 {
    font-size: 1.2rem;
  }
  .syarat-dan-ketentuan li {
    font-size: 1rem !important;
  }
  .syarat {
    margin-left: 0 !important;
  }
  .jadwal-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jadwal-content .jadwal-hari,
  .jadwal-content .jadwal-wt {
    width: 100% !important;
  }
  .desa-list ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .maskot .aldo {
    width: 250px;
  }
  .maskot .hani {
    width: 210px;
  }
}

@media screen and (max-width: 600px) {
  .maskot .gubernur img {
    width: 230px;
    margin-top: 10px;
  }
  .maskot .penda img {
    width: 200px;
  }
  .maskot {
    margin-top: -250px;
  }
  .maskot .aldo {
    width: 200px;
  }
  .maskot .hani {
    width: 180px;
  }
  .popup-modal,
  .ReactModalPortal {
    width: 65%;
  }
  .billboards {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .billboards-mobile {
    display: block;
  }
  .billboards-mobile h2,
  .billboards-mobile a {
    text-align: center;
    font-size: 12px;
    color: #f5f5f5;
  }
  .billboards-mobile img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .apps-links .apps-box {
    margin-right: 10px;
    margin-left: 10px;
  }
  .apps-links .apps-box h3 {
    font-size: 15px;
  }
  .apps-links .apps-box .sambara-web {
    max-width: 129px;
  }
  .apps-links .apps-box .sambara-mobile {
    max-width: 41px;
  }
  .jumbotron-title {
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }
  .jumbotron-logo-top .logo-right img {
    margin: 0 20px;
  }
  .jumbotron-logo-top .logo-left img {
    width: 180px;
  }
  .jumbotron-logo-top img {
    width: 60px;
  }
  .jumbotron-logo-top .logo-size {
    width: 60px;
  }
  .row-info hr {
    display: none;
  }
  .row-kontak p {
    font-size: 13px;
  }
  .row-kontak .phone {
    font-size: 31px !important;
  }
  .row-kontak a {
    width: 35px !important;
    height: 35px !important;
  }
  footer {
    padding: 25px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer p {
    padding: 2px;
  }
  footer p span {
    display: inline;
  }
  .layanan-row .box-layanan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .layanan-row .nomor {
    width: 100%;
  }
  .layanan-row .nomor p {
    font-size: 2rem;
    padding: 20px;
  }
  .layanan-row .layanan-langkah {
    width: 100%;
  }
  .layanan-row .layanan-langkah p {
    padding: 20px;
    font-size: 1.3rem;
  }
  .layanan-row .keterangan-langkah {
    width: 100%;
  }
  .layanan-row .keterangan-langkah p {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .logo-right {
    display: block !important;
  }
  .maskot .gubernur img {
    width: 220px;
    margin-top: 20px;
  }
  .maskot .penda img {
    width: 180px;
  }
  .jumbotron-title {
    top: 58%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .jumbotron-title h1 {
    font-size: 1.7rem;
  }
  .billboards-mobile {
    display: block;
  }
  .billboards-mobile h2,
  .billboards-mobile a {
    text-align: center;
    font-size: 12px;
    color: #f5f5f5;
  }
  .billboards-mobile img {
    display: block;
    margin: 0 auto;
    width: 110%;
  }
}

@media screen and (max-width: 400px) {
  .maskot {
    display: none;
  }
  .jumbotron-title h1 {
    font-size: 1.5rem;
  }
  .jumbotron-title h2 {
    font-size: 1.1rem;
  }
  .greetings {
    display: block;
    margin-top: 0;
  }
  .greetings .gubmobile {
    width: 280px;
  }
  .greetings .pendamobile {
    width: 200px;
  }
  .greetings img {
    display: block;
    margin: auto;
  }
  .apps-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .apps-links .web {
    margin-top: -100px;
  }
  .apps-links .mobile {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .apps-box {
    margin-right: 5px !important;
    margin-left: 5px !important;
    padding: 15px 20px !important;
  }
  .apps-box h3 {
    font-size: 15px;
  }
  .apps-box .sambara-web {
    max-width: 129px;
  }
  .apps-box .sambara-mobile {
    max-width: 41px;
  }
  .slog h1 {
    font-size: 2.5rem;
  }
  .samdong h2 {
    font-size: 2.5rem;
  }
  .content-row {
    padding: 10px;
  }
  .content-row .box-icon img {
    width: 250px !important;
  }
  .pengaduan {
    padding: 0;
    margin: 0;
  }
  .pengaduan hr {
    margin: 0 10px;
  }
  .pengaduan-content {
    padding-top: 5px !important;
    margin-top: 3px !important;
  }
  .pengaduan-content .pengaduan-desc {
    padding: 10px;
  }
  .pengaduan-kontak {
    padding: 0 !important;
    margin: 0 !important;
  }
  .e-samsat-content {
    margin: 0px;
  }
  .visi-misi {
    padding: 10px 20px;
    width: 100%;
  }
  .visi-misi h2,
  .visi-misi h3 {
    font-size: 1.5rem;
  }
  .visi-misi p {
    font-size: 1.1rem;
  }
  .visi-misi .visi,
  .visi-misi .misi {
    padding: 15px 10px;
  }
  .desa-list ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */